img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav {
 display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

body {
  background-color: tan;
}
p {
  color: #CD5C5C;
  display: inline;
  font: italic 40px "Fira Sans", serif;
}
footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
}

/*Media query for tablets*/
@media screen and (min-width: 620px), print
{
	.tab-desk{display: block;}

	.mobile{display: none;}

	nav li{border-top: none;
              display: inline-block;
              font-size: 1.25em;
	}

	nav li a{padding: 0.5em;}
}

/*Media query for phones*/
@media screen and (max-width: 600px), print
{
	.tab-desk{display:none;}

}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* add curved corners with frame */
#rcorners {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#grad {
  height: 200px;
  background-image: linear-gradient(to right, yellow, rgba(255,0,0,1));
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

figcaption {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px;
  gap: 10px;
  background-color: #f3a621;
  padding: 10px;
  border: 1px solid;
  box-shadow: 5px 10px red;
}

.grid-container > section {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
